* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --primery-sidebar-bg-color: #0D162A;
    --primary--p-color: #566380;
    --primary--border-color: #2c3446;
    --primary-text-color: #cad2da;
}

.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.355);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    overflow: hidden;
}

.popup-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    scrollbar-width: none;
    width: 40%;
    background-color: white;
    padding: 2rem 2rem;
    overflow-y: auto;
}

.popup-heading {
    display: flex;
    justify-content: space-between;
}

.popup-heading h1 {
    font-size: 1.5rem;
}

.popup-heading p {
    font-size: 1rem;
    color: var(--primary--p-color);
    margin-top: 0.5rem;
}

.close-icon {
    font-size: 1.5rem;
    color: var(--primary--p-color);
    cursor: pointer;
}

.popup-personal,
.popup-employement,
.popup-account {
    border: 1px solid #dadada;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.h1 {
    font-size: 1rem;
    border-bottom: 1px solid #dadada;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.input-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem
}

.label-input {
    width: 49%;
    color: var(--primary--p-color);
}

label {
    font-size: 0.9rem;
}

.label-input .input {
    border-radius: 0.5rem;
    color: var(--primary--p-color);

}

.textarea {
    width: 100%;
    height: 7vh;
    border: 1px solid #e6e5e5;
    color: #545353;
    outline: none;
    border-radius: 0.5rem;
    background-color: #f4f7fb;
    padding: 0.5rem 1rem;
}

.textarea:focus {
    border: 1px solid #6868ef;
    color: #4d4df1;
    background-color: #e4e4f4a4;
    outline: none;
}

.select {
    width: 11%;
    padding: 0.5rem 1rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    outline: none;
}

.select:hover {
    box-shadow: 0px 0px 3px blue;
}

.department-input {
    width: 100%;
    color: var(--primary--p-color);
    margin-top: 0.5rem;
    background-color: #f4f7fb;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.rem;
}

.emp-button {
    padding: 1rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e1e1e1;
}


.close {
    background-color: white;
    color: var(--primary--p-color);
}

.close:hover {
    background-color: #f7f7f7;
}

.create {
    background-color: #4d4df1;
    color: white;
}

.create:hover {
    background-color: #4343f0;
}


/* ########## payslippopup  ################## */


.popup-card1 {
    width: 30%;
    height: 58vh;
    margin-top: 22vh;
}

.popup-heading1 {
    border: none;
    width: 107%;
    margin: -1rem;
}

.label-input1 {
    width: 48.5%;
}

/* ########## changepassword  ################## */


.popup-card2 {
    width: 23%;
    height: 35vh;
    margin-top: 33vh;
}

.input2 {
    margin-top: -0.5rem;
}

.bag-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
}